<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
  <div class="container">
    <a class="navbar-brand" href="/">STAR EDUCATION</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">

        <div class="dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <img
              src="https://scontent-yyz1-1.xx.fbcdn.net/v/t39.30808-1/330381711_5819548798136159_5059463898037811702_n.jpg?stp=dst-jpg_p320x320&_nc_cat=107&ccb=1-7&_nc_sid=7206a8&_nc_ohc=GrUHUCs-vv8AX82_u7u&_nc_oc=AQm0UnEssarsk5rfxN9TNCAx0eSbRU2uV4s64d-U8EArMFZM45dV6pJXLxA7dcG6zx4&tn=3HV6jSh3nqpewV2u&_nc_ht=scontent-yyz1-1.xx&oh=00_AfAp2Kqjl2rYkJFvWnUzuI-dXHjYk1nN8_Qs2KImUm67EQ&oe=64007C24"
              alt="avatar" class="user-avatar">
            Thi Thanh Tra KIEU
          </a>
          <ul class="dropdown-menu">

            <a class="dropdown-item" href="/courses/create">Register courses</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/me/stored/courses">My courses</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/me/stored/news">My blog</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Sign out</a>


          </ul>
        </div>
    </div>
  </div>
</nav>